* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
    background-color: #a7a7d7;

  }
  



  
  body, .quote-input {
    font-family: 'SF Mono', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  header {
    padding: 3rem 0 2rem 0;      
    
    align-items: center;  
    margin: 1.2rem 0 0 0;
  }

  .title {  
    color: white;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 3em;
  }

  
    
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
  }


  .faderOut{
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
  }

  .faderIn{
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }

  #changeText {
    opacity: 1;
    transition: opacity 2s;
  }
  .hide2 {
      opacity: 0 !important;
  }

  
  .container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;  
    max-width: 60rem;   
    margin: auto;  
    border-radius: 1em;  

    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }

  .quote-display {
    margin-top: 2rem; 
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    height: 3.5em;
    line-height: 1.8em;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;

  }



  .input{
    display: flex;
    width: 100%;    
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }

  .timer {
    display: block;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }

  .quote-input {
    background-color: transparent;
    border: 2px solid rgb(75, 74, 74);
    outline: none;
    height: 2.5rem;
    resize: none;
    padding: .5rem .5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    text-align: center;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    margin-left: 10px;
    margin-right: 10px;
  }


  .redo{
    width: 10px;
  }


  .options {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 90%;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }


  .switch {
    font-size: 14px;
    color: black;
    font-weight: bold;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
}

  .switch:checked{
    background-color:#404040;
    color:blue;
}
  .success {color: white;}


  .stats {
    font-size: 1.25em;  
    display: flex;
    align-items: center;
    flex-direction: column;  
    max-width: 80rem;   
    margin: auto;  
    border-radius: 1em;  
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }

  


  .acc {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }

  /*.countdown {
    position: absolute;
    top: 5rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
  } */


  .wpm {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    
  }


  .mode {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
  }






  span {
    display: inline-block;
    margin-right: 10px;
    
  }

 


  .quote-input:focus {
    border-color: grey;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }

  .current {
    background-color: white;
  }

  
  .highlight{
    background-color: lightgray;
  }






